{% extends 'music/Base.html' %}
{% block title %}Form{% endblock %}
{% block body %}
    <style>
        input{
            width: border-box;
            height: 40px;
            border: whitesmoke 2px solid;
            border-radius: 10px;
            box-sizing: border-box;
        }
    div.center{
    margin: auto;
    width: 60%;
    padding: 10px 20px;
    }
    </style>

    <div class="center">
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
               {{ form.as_p }}
                <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}